body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: url('IMAGES/EaD_full.WebM') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    position: relative;
    margin-bottom: 20px;
    height: 350px; 
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fcfafa;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ff0; /* Change color on hover */
}

.content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

h2, h3 {
    color: #444;
}

ul {
    list-style-type: none; 
    padding: 0;
}

ul li {
    padding: 5px 0;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    color: #0056b3; /* Change color on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    header, nav, section, footer {
        padding: 10px;
    }
    nav ul li {
        display: block;
        margin: 6,5%;
    }
    .header-content {
        padding: 10px;
    }
    header {
        background-image: url('IMAGES/4.WebP');
    }   
}
