body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.parallax-content {
    padding: 20px;
    background-color: white;
    text-align: center;
    height: auto;
}

header {
    background-image: url('IMAGES/EaD.gif');
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fbf9f9;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
